<launch>
    <arg name="frequency" default="20"/>
    <arg name="serial_port" default="/dev/ttyUSB0"/>

    <node name="serial_passthrough" pkg="bpl_passthrough" type="serial_passthrough.py" output="screen">
        <param name="serial_port" value="$(arg serial_port)"/>
    </node>
    <node name="request_joints_pos" pkg="bpl_passthrough" type="request_joint_positions.py" output="screen">
        <param name="frequency" value="$(arg frequency)"/>
    </node>

</launch>