<?xml version="1.0" ?>
<robot name="bravo_7_example" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find bpl_bravo_description_mk2)/urdf/bravo_7_ft.urdf.xacro"/>
    <link name="base_link"/>

    <xacro:bravo_7 parent="base_link" name="bravo">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:bravo_7>
</robot>