<launch>
    <param name="robot_description" command="$(find xacro)/xacro '$(find bpl_bravo_description)/urdf/bravo_7_example.urdf.xacro'"/>
    <node name="joint_state_publisher_simulated" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
        <rosparam>
            zeros:
              bravo_axis_f: 3.14159
              bravo_axis_e: 1.5707
              bravo_axis_c: 1.5707
        </rosparam>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bpl_bravo_description)/rviz/rviz.rviz"/>
</launch>