<launch>
    <param name="robot_description" command="$(find xacro)/xacro '$(find bpl_alpha_description)/urdf/RA_2141_example.urdf.xacro'"/>
    <node name="joint_state_publisher_simulated" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bpl_alpha_description)/rviz/rviz.rviz"/>
</launch>
